AlignArrayOfStructures: Left
IndentWidth: 4
ColumnLimit: 120
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterDefinitionReturnType: All
InsertNewlineAtEOF: true